.options_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.options_btn {
  border: none;
  background-color: rgb(178, 150, 109);
  color: rgb(53, 37, 12);
  box-shadow: 0 0 5px 2px;
  padding: 10px 20px;
  transition: transform 0.5s ease;
  &&:hover {
    background-color: rgb(238, 184, 103);
    transform: rotate(25deg);
    cursor: pointer;
  }
}
